In [1]:
import sys, os
import requests
from geojson import Feature, Point, FeatureCollection
import pandas as pd
from location_geojson import create_feature_collection
from location_geojson import output_geojson

In [2]:
ls

README.md               limebike_test2          limetest_v3.geojson
__pycache__/            limebike_test_2         location_geojson.py
limebike_test.ipynb     limetest.geojson        seattle_point_grid.csv
limebike_test1          limetest_v2.geojson

In [3]:
df = pd.read_csv('seattle_point_grid.csv')

In [4]:
df.head()

   id   xcoord_1  ycoord_1
0  88 -122.37333  47.71312
1  89 -122.35725  47.71333
2  90 -122.34117  47.71355
3  91 -122.32509  47.71376
4  92 -122.30900  47.71397

In [5]:
long_arr = df['xcoord_1'].values
lat_arr = df['ycoord_1'].values

In [6]:
long_arr[:50]

array([-122.37333, -122.35725, -122.34117, -122.32509, -122.309  ,
       -122.29292, -122.38909, -122.37301, -122.35693, -122.34085,
       -122.32477, -122.30869, -122.29261, -122.27653, -122.38877,
       -122.37269, -122.35661, -122.34054, -122.32446, -122.30839,
       -122.29231, -122.27623, -122.40451, -122.38844, -122.37237,
       -122.3563 , -122.34022, -122.32415, -122.30808, -122.292  ,
       -122.27593, -122.25986, -122.40419, -122.38812, -122.37205,
       -122.35598, -122.33991, -122.32384, -122.30777, -122.2917 ,
       -122.27563, -122.25956, -122.41992, -122.40386, -122.38779,
       -122.35566, -122.33959, -122.32353, -122.30746, -122.2914 ])

In [7]:
user_lat_long = []
for lat, long in zip(lat_arr[:20],long_arr[:20]):
    user_lat_long.append((lat,long))

In [8]:
len(user_lat_long)

20

In [9]:
user_lat_long_test = [(47.618551, -122.342190), (47.611179, -122.334326)]

In [10]:
feature_collection = create_feature_collection(user_lat_long_test)

In [11]:
output_geojson('limebike_test_1', feature_collection)

In [12]:
feature_collection = create_feature_collection(user_lat_long)

In [13]:
output_geojson('limebike_test_20', feature_collection)

In [15]:
user_lat_long_50 = []
for lat, long in zip(lat_arr[:50],long_arr[:50]):
    user_lat_long_50.append((lat,long))

In [16]:
feature_collection = create_feature_collection(user_lat_long_50)

In [17]:
output_geojson('limebike_test_50.geojson', feature_collection)